.popup {  
    position:fixed;  
    width: 50%;  
    height: 80%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color:#328a59;  
    border-radius: 10px;
  }  
.center{
  text-align: center;
}
.color{
  background-color:darkgray;
}